div.ssl-finesse-kat-tab-panel ul.ssl-finesse-kat-tab-panel-tabs {
    list-style: none;
}

/* undo for main CSS */
div.ssl-finesse-kat-tab-panel ul.ssl-finesse-kat-tab-panel-tabs {
    margin: 0;
    padding-left: 0;
    color: #000;
    font-size: 85%;
    text-align: center;
}

li.ssl-finesse-kat-tab-panel-tab-link {
    display: inline-block;
    padding: 0.85em;
    margin: 0.5em 0.25em 0 0.25em;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.25em;
}

li.ssl-finesse-kat-tab-panel-tab-link-selected {
    background-color: rgba(0,0,0,.05);
}

div.ssl-finesse-kat-tab-panel-tab {
    display: none;
    height: 100%;
}

div.ssl-finesse-kat-tab-panel-tab-selected {
    display: inherit;
}

/* Plot tab container. */
.ssl-finesse-kat-plot {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.ssl-finesse-kat-plot a {
    /* undo theme */
    border-bottom: none !important;
}

.ssl-finesse-kat-plot a:hover {
    background-color: inherit !important;
}

img.ssl-finesse-kat-plot-img {
    max-width: 100%; /* Keep plot image within its container. */
    height: auto;
}

.ssl-finesse-kat-plot-placeholder {
    height: 100%;
}

/* Script tab container. */
.ssl-finesse-kat-script {
    display: flex;
    flex-flow: column;
    overflow: auto;
    height: 100%;
}

/* Script editor (both textarea in editor and pre on front end). */
.ssl-finesse-kat-script-input {
    /* grow/shrink to fill remaining space */
    flex: 1 1 auto;
}

textarea.ssl-finesse-kat-script-input-edit {
    width: 100%;
    resize: none;
}

pre.ssl-finesse-kat-script-input-display {
    height: 100%;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    /* Remove pre margin */
    margin: 0;
}

/* script editor controls */
.ssl-finesse-kat-script-input-controls {
    flex: 0 0 auto;
}